*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}


body{
    height: 100vh;
    width: 100vh;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #2F2F2F;
    display: flex;
    color: #fff;
}